<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sireph.technics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_sireph"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sireph_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIREPHTechnics"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".OccurrenceActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".VictimActivity"
            android:exported="false"
            android:parentActivityName=".OccurrenceActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OccurrenceActivity" />
        </activity>
        <activity
            android:name=".VictimEvaluationsActivity"
            android:exported="false"
            android:parentActivityName=".VictimActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VictimActivity" />
        </activity>
        <activity
            android:name=".VictimInformationActivity"
            android:exported="false"
            android:parentActivityName=".VictimActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VictimActivity" />
        </activity>
        <activity
            android:name=".VictimProceduresActivity"
            android:exported="false"
            android:parentActivityName=".VictimActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VictimActivity" />
        </activity>
        <activity
            android:name=".VictimProtocolsActivity"
            android:exported="false"
            android:parentActivityName=".VictimActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VictimActivity" />
        </activity>
        <activity
            android:name=".VictimTraumaActivity"
            android:exported="false"
            android:parentActivityName=".VictimProtocolsActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VictimProtocolsActivity" />
        </activity>
    </application>

</manifest>